.school-card{
    height: 20rem;
    display: flex;
    flex-direction: column;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.04);
    border-radius: 12px;
    &__header{
        padding: 1rem 2rem;
        border-bottom: 1px solid #EEEEEE;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__menu{
        &-button{
            height: 2.5rem;
            width: 2.5rem;
            border: 1px solid #EEEEEE;
            border-radius: 50%;
            display: inline-block;
            cursor: pointer;
            margin-left: 1rem;
            &:hover{
                background-color: #EEEEEE;
            }
        }
        &-icon{
            // center the icon on the button vertically and horizontally
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}