.school-card{
    height: 20rem;
    display: flex;
    flex-direction: column;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.04);
    border-radius: 12px;
    // on load the cards slide in from the bottom
    animation: 1s ease-out 0s 1 slideInFromBottom;
    // on hover the cards slide out to the bottom
    @keyframes slideInFromBottom {
        0% {
            opacity: 0;
            transform: translateY(10%);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
    &__header{
        padding: 1rem 2rem;
        border-bottom: 1px solid #EEEEEE;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title{
        font-size: 1.125rem;
        font-weight: 400;
        color: #000000;
        margin: 0;
    }
    &__menu{
        &-button{
            height: 2.1875rem;
            width: 2.1875rem;
            border: 1px solid #EEEEEE;
            border-radius: 50%;
            display: inline-block;
            cursor: pointer;
            margin-left: 1rem;
            &:hover{
                background-color: #EEEEEE;
            }
        }
        &-icon{
            // center the icon on the button vertically and horizontally
            width: 1rem;
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &__carousel{
        display: flex;
        height: 100%;
        justify-content: space-around;
        align-items: center;
    }
}