.page-nav{
    background-color: grey;
    color: white;
    width: 100vw;
    height: 15rem;
    background-color: #F7B731; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, #F7B731, #FD9D4F);
    &__wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 4rem;
        margin: 0 2rem;
    }
    &__list{
        height: 100%;
        list-style: none;
        display: flex;
        align-items: center;
    }
    &__menu{
        gap: 1.25rem;
        &-icon{
            width: 1.5rem;
        }
        &-item{
            display: flex;
            align-items: center;
            gap: 0.25rem;
            padding: 0.25rem 0.95rem;
            cursor: pointer;
            &--selected{
                background-color: rgba(255, 255, 255, 0.2);
                border-radius: 20px;
            }
            &-wrap{
                position: relative;
            }
        }
        &-pointer{
            &--selected{
                position: absolute;
                width: 0;
                height: 0;
                border-width: 0 17.5px 25px 17.5px;
                border-color: transparent transparent #FFFFFF transparent;
                border-style: solid;
                bottom:-2.75rem;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
    &__profile{
        gap: 1rem;
        &-icon{
            width: 1.5rem;
        }
        &-picture{
            width: 2.1875rem;
            border-radius: 50%;
            margin-right: 0.5rem;
        }
    }
}