.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden; 
}

.main{
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    width: calc(100% - 4rem);
    position: relative;
    top: -11rem;
    padding-bottom: 3rem;
    &__sidebar{
        display: flex;
        flex-direction: column;
        width: 20rem;
        height: calc(100vh - 2rem);
        align-items: center;
        padding: 2rem 2rem 0;
        border-right: 1px solid #EEEEEE;
        &-header{
            text-align: center;
            margin-bottom: 2rem;
        }
    }
    &__legend{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        &-text{
            width: 12.5rem;
        }
        &-percentage{
            width: 2rem;
            text-align: right;
        }
    }
    &__school{
        list-style: none;
        display: flex;
        align-items: center;
        margin:0.25rem 0;
    }
    &__color-bullet{
        height: 0.5rem;
        width: 0.5rem;
        border-radius: 50%;
        display: inline-block;
        margin: 0 0.75rem;
        &-University-of-Toronto{
            background-color: #4B7BEC;
        }
        &-McMaster-University{
            background-color: #F7B731;
        }
        &-York-University{
            background-color: #EB3B5A;
        }
        &-Western-University{
            background-color: #FD9D4F;
        }
    }
}

// content
.content{
    width: calc(100vw - 20rem);
    margin: 0 2rem;
    &__header-wrap{
        display: flex;
        justify-content: space-between;
        margin: 2rem 0;
    }
    &__title{
        font-size: 1.25rem;
        &--colored{
            color: #FFA500;
        }
    }   
    &__search-bar{
        position: relative;
        top:-0.3rem;
        &-icon{
            position: absolute;
            width: 1.4rem;
            top:0.45rem;
            left: 0.25rem;
        }
        &-input{
            width: 13.25rem;
            height: 2.25rem;
            background: #FFFFFF;
            border: 1px solid #DDDDDD;
            border-radius: 8px;
            padding: 0 1.75rem;
            &::placeholder{
                color: #BDBDBD;
            }
        }
    }
}