.profile-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    // add a border to the right of the card except the last one
    border-right: 1px solid #EEEEEE;
    padding: 0 calc(100% / 16);
    &:last-child{
        border-right: none;
    }
    &__headshot{
        border-radius: 50%;
        width: 4.875rem;
    }
    &__name{
        font-size: 1rem;
        font-weight: 400;
        margin: 0.5rem 0;
        text-align: center;
    }
    &__field{
        color: #FFFFFF;
        font-size: 0.75rem;
        padding: 0.25rem 0.5rem;
        border-radius: 12.5px;
    }
    &__mutual-interests{
        font-size: 0.75rem;
        color:#5C5C5C;
        margin: 0.625rem 0;
    }
    &__button{
        background-color: #FFA500;
        border: none;
        border-radius: 10px;
        color: #FFFFFF;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.25rem;
        font-size: 1rem;
        width: 6.5rem;
        height: 2.1875rem;
        &-icon{
            filter: #FFFFFF;
            width: 1.25rem;
            position: relative;
        }
        &:active{
            background-color: #e69601;
        }
    }
}